<%- include('./partials/head') %>
<body>
    <div class="wrapper">
        <h1>Seja bem vindo!</h1>
        <button onclick="showRegister()">Cadastrar</button>
        <button onclick="showLogin()">Login</button>
    </div>
    <div class="wrapper2">
        <i class="fa fa-arrow-left" onclick="backHomeLogin()"></i>
        <form action="/authenticate" method="POST">
            <h1>Login</h1>
            <br>
            <label for="email">Email</label>
            <br>
            <input type="email" placeholder="email@exemplo.com" name="email" required>
            <br>
            <label for="password">Senha</label>
            <br>
            <input type="password" placeholder="********" name="password" required>
            <br>
            <button type="submit">Login</button>
            <br>

        </form>
    </div>

    <div class="wrapper3">
        <i class="fa fa-arrow-left" onclick="backHomeRegister()"></i>
        <form action="/save" method="POST">
            <h1>Cadastro</h1>
            <br>
            <label for="nome">Nome</label>
            <br>
            <input type="text" placeholder="Nome Completo" name="name" required>
            <br>
            <label for="email">Email</label>
            <br>
            <input type="email" placeholder="email@exemplo.com" name="email" required>
            <br>
            <label for="password">Senha</label>
            <br>
            <input type="password" placeholder="********" name="password" required>
            <br>
            <button type="submit">Cadastrar</button>
            <br>

        </form>

    </div>
</body>
<script src="./js/functions.js"></script>


</html>